.bookingsControl {
    text-align: center;
    padding: .5rem;
}

.bookingsControl button {
    font: inherit;
    border: none;
    background: transparent;
    color: #000;
    padding: .25rem 3rem;
    text-shadow: none;
    border-bottom: .5rem solid transparent;
    cursor: pointer;
    box-shadow: none;
}

.bookingsControl button.active {
    border-bottom-color: #0e570e;
}

.bookingsControl button:focus {
    outline: none;
}
