.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background-color: rgba(85,107,47, 1);
    color: #fff;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    margin: 0 0 0 calc(100vw / 4);
    font-size: 1.5rem;
    /*padding-right: 10rem;*/
}

.navigationItems  {
    margin-left: 1.5rem;
}

.navigationItems ul {
    list-style: none;
    margin-right: calc(100vw / 2.8);
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.navigationItems li{
    margin: 0 0.5rem;
}

.navigationItems a,
.navigationItems button {
    text-decoration: none;
    color: #ccd2c0;
    border: none;
    font: inherit;
    cursor: pointer;
    margin: 0;
    padding: 1rem 0.5rem;
}

.navigationItems button {
    background:  #ccd2c0;
    color: rgb(52, 69, 31);
    padding: 1rem 0.5rem;
}


.navigationItems a:hover,
.navigationItems a:active,
.isActive {
    color: #8299a6;
    background-color: rgb(66, 87, 24);
}

.navigationItems button:hover,
.navigationItems button:active {
    background-color: rgba(145, 173, 51, 0.2);
}

@media (max-width:  1100px) {
    .logo h1 {
        margin: 0 0 0 calc(100vw / 8);
    }
}

@media (max-width:  890px) {
    .logo h1 {
        margin: 0 0 0 calc(100vw / 42);
    }
    .navigationItems ul {
        margin-right: calc(100vw / 25);
    }
}
